<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <!-- Cookie Consent -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#d4fffa",
        "text": "#235d56"
        },
        "button": {
        "background": "#4DCCBD",
        "text": "#ffffff"
        },
    },
    "content": {
        "message": "This website uses cookies to enable essential site functionality and analytics.",
    }
    });
    </script>
    <!-- Cookie Consent End -->

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>